header .row {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30%;
    padding: 20px;

}

header .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .col.c1 {
    margin-bottom: 40px;
}

header .img-box {
    position: relative;
}

header .name-box {
    background-color: #0941a9;
    font-size: 30px;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-20deg) translateY(-5%) translateX(70px);
}

header .col.c1 img {
    max-width: 100%; /* Забороняємо картинці вилазити за межі колонки */
    height: auto;    /* Зберігаємо пропорції */
    object-fit: cover; /*застосовано до <img> */
}

header h1,
header h3 {
    text-align: center;
}

header h1 {
border-bottom: 4px solid #ffffff;
margin-bottom: .25em;
padding-bottom: .25em;
line-height: 1.1;
}

@media screen and (min-width: 1300px) {
    header .row {
        flex-direction: row; /* Змінює напрямок: тепер елементи стоять у рядку */
        justify-content: center;
        gap: 5%;
    }

    header .col {
        width: 45%;
    }
}